<%= back_link('9/2') %>
<small>9-3</small>
<%= forward_link(nil) %>

<h1>Improving the app</h1>

<h3><%= step %></h3>
<p>The CSS and JS libraries that are included in head can be slow to load.
  You could copy the files to your local machine and change the file references.
  Your app will load much faster.</p>

<h3><%= step %></h3>
<p>Rather than having the rooms list on the side, it would be better
   to use the full width of the screen and switch between a
    rooms list view and a room messages view.</p>
<p>Hide the rooms list when room messages display. When you
  want to change room, you could press a button that closes the
  room messages and re-opens the rooms list.</p>
