<%= back_link('3/9') %>
<small>3-10</small>
<%= forward_link('3/11', 'Core') %>

<h1>Data structures</h1>

<h3><%= step %></h3>
<p>A room</p>
<pre>
{ "id": 2,
  "created_at": "2016-07-24T17:27:15.978Z",
  "name": "Working yet?",
  "user":  "Callie A",
  "messages":
    [ { "id": 6, "room_id": 2, "user": "Callie A", "created_at": "2016-07-24T17:29:05.462Z",
          "body": "Oh." },
      { "id": 5, "room_id": 2, "user": "Lilly M", "created_at": "2016-07-24T17:28:35.941Z",
          "body": "No. These are hard-coded fake messages. Sorry." },
      { "id": 4, "room_id": 2, "user": "Callie A", "created_at": "2016-07-24T17:27:55.978Z",
          "body": "Can I post messages now?" } ] }
</pre>

<h3><%= step %></h3>

<p>We'll get a room in JSON format. Parse JSON to get an object:</p>
<pre>
room_json = "{\"id\":2,\"created_at\":\"2016-07-24T17:27:15.978Z\",\"name\":\"Working yet?\",\"user\":\"Callie A\",\"messages\":[{\"id\":6,\"room_id\":2,\"user\":\"Callie A\",\"created_at\":\"2016-07-24T17:29:05.462Z\",\"body\":\"Oh.\"},{\"id\":5,\"room_id\":2,\"user\":\"Lilly M\",\"created_at\":\"2016-07-24T17:28:35.941Z\",\"body\":\"No. These are hard-coded fake messages. Sorry.\"},{\"id\":4,\"room_id\":2,\"user\":\"Callie A\",\"created_at\":\"2016-07-24T17:27:55.978Z\",\"body\":\"Can I post messages now?\"}]}"
var room = JSON.parse(room_json);
room;
var messages = room.messages;
messages.length;
mesages[2].body;
</pre>
