<%= back_link('3/10') %>
<small>3-11</small>
<%= forward_link('3/12', 'DOM') %>

<h1>Core</h1>

<h3><%= step %></h3>
<p>Standard functions and objects include:</p>
<ul>
  <li><code>alert();</code></li>
  <li><code>Date();</code></li>
  <li><code>Math.random();</code></li>
</ul>

<h3><%= step %></h3>
<pre>
milliseconds = Math.random() * 10000000000000;
myDate = new Date(milliseconds);
alert(myDate);
</pre>
