<%= back_link('4/4') %>
<small>4-5</small>
<%= forward_link('5/1', 'Build a JS application') %>

<h1>Data types</h1>

<h3><%= step %></h3>
<tr><td>Boolean</td><td>"boolean"</td></tr>
<tr><td>Number</td><td>"number"</td></tr>
<tr><td>String</td><td>"string"</td></tr>

<tr><td>Function</td><td>"function"</td></tr>
<tr><td>Object</td><td>"object"</td></tr>
<tr><td>Undefined</td><td>"undefined"</td></tr>
<tr><td>Null</td><td>"object"</td></tr>


<h3><%= step %></h3>
<p>Javascript</p>
<table>
  <tr><th>Data type</th><th>typeof</th></tr>
  <tr><td>Number</td><td>"number"</td></tr>
  <tr><td>String</td><td>"string"</td></tr>
  <tr><td>Boolean</td><td>"boolean"</td></tr>
  <tr><td>Function</td><td>"function"</td></tr>
  <tr><td>Object</td><td>"object"</td></tr>
  <tr><td>Undefined</td><td>"undefined"</td></tr>
  <tr><td>Null</td><td>"object"</td></tr>
</table>
