<%= back_link('3/1') %>
<small>3-2</small>
<%= forward_link('3/3', 'Logic') %>

<h1>Grammar</h1>

<h3><%= step %></h3>
<p>Semicolons</p>
<pre>
var x = 2;
x + x;
var x = 2
x + x
var x = 2; x + x;
var x = 2 x + x
</pre>

<h3><%= step %></h3>
<p>Comments</p>
<pre>
//  This is a comment.
</pre>
