<%= back_link('8/2') %>
<small>8-3</small>
<%= forward_link('8/4', 'Room links') %>

<h1>Render rooms</h1>

<h3><%= step %></h3>
<p>Change 'scripts/get_rooms.js' to:</p>
<pre>
var loadRooms = function() {
  $.getJSON(serverUrl + "/rooms.json", function(rooms) {
    $.each(rooms, function(index, room){
      $('#rooms').append(roomHtml(room));
    });
    // bindTimeago();
  });
};

$( document ).ready(function() {
  loadRooms();
});
</pre>
