<%= back_link('8/4') %>
<small>8-5</small>
<%= forward_link('8/6', 'Time ago') %>

<h1>Render messages</h1>

<h3><%= step %></h3>
<p>Change 'scripts/get_room_messages.js' to:</p>

<pre>
var bindLoadRoomOnListClick = function() {
  $("#rooms").on("click", ".room", function(event){
    var roomId = $(this).data("room-id");
    $.get((serverUrl + "/rooms/" + roomId + ".json"), function(room) {
      $("#messages_panel").hide();
      $("#messages").empty();
      $.each(room.messages, function(index, message) {
        $("#messages").append(messageHtml(message));
      });
      // bindTimeago();
      $("#selected_room_name").html(roomNameHtml(room));
      $("#input_message_body").val('');
      $("#input_message_room_id").val(room.id);
      $("#messages_panel").fadeIn();
    });
  });
};

$( document ).ready(function() {
  bindLoadRoomOnListClick();
});
</pre>
