<%= back_link('4/1') %>
<small>4-2</small>
<%= forward_link('4/3', 'Grid') %>

<h1>Apply styles</h1>

<h3><%= step %></h3>
<p>Change 'application.css' to:</p>
<pre>
body { color: #48d; padding: 5px; word-wrap: break-word; }
#logo { font-size: 1.5em }
#logo img { vertical-align: middle; margin-top: -3px; height: 24px; }
#rooms_panel { margin-top: 10px; }
.room { padding: 5px; }
.room:hover { background-color: #eee; cursor: pointer; }
#messages_panel { margin-top: 10px; }
#selected_room_name { padding: 5px; font-size: 1.2em; }
.message { padding: 5px; }
.message_body { font-family: 'Chewy', cursive; font-size: 1.5em; }
.username, .time_ago { display: inline-block; color: #999; }
.username { font-weight: 700; }
.time_ago { font-size: 0.8em; }
</pre>

<h3><%= step %></h3>
<p>Add the <code>class="form-control"</code> to each <code>input</code>.</p>
