<%= back_link('4/2') %>
<small>4-3</small>
<%= forward_link('5/1', 'Get jQuery') %>

<h1>Grid</h1>

<h3><%= step %></h3>
<p>Add Bootstrap grid.</p>
<pre>
&lt;div class="container"&gt;
  &lt;div class="row"&gt;
    logo html...
    &lt;div id="rooms_panel" class="col-sm-4 col-md-3"&gt;
      rooms html...
    &lt;/div&gt;
    &lt;div id="messages_panel" class="col-sm-8 col-md-9"&gt;
      messages html...
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
