<%= back_link('2/7') %>
<small>3-1</small>
<%= forward_link('3/2', '') %>

<h1>HTML documents</h1>

<h3><%= step %></h3>
<p><code>&lt;!DOCTYPE html&gt;</code></p>

<h3><%= step %></h3>
<p>HTML element:</p>
<pre>
&lt;tag attribute="value"&gt;
  some content...
&lt;/tag&gt;
</pre>



serverUrl = 'http://localhost:3001';
serverWebSocketUrl = 'ws://localhost:3001/cable';
apiKey = 'VpC1mK735SWhcATeT99O0gtt';

http://timeago.yarp.com/
