<%= back_link('5/1') %>
<small>5-2</small>
<%= forward_link('6/1', 'Web requests') %>

<h1>Test it</h1>

<h3><%= step %></h3>
<p>Animations. Cool.</p>
<pre>
$('body').fadeOut(3000).fadeIn(3000);
</pre>
