<%= back_link('2/1') %>
<small>2-2</small>
<%= forward_link('2/3', 'CSS') %>

<h1>Styling</h1>

<h3><%= step %></h3>
<p>
<code>font-size: 16px</code><br>
<code>color: #ccc;</code><br>
<code>background-color: #48d;</code><br>
</p>
<p>
<code>height: 24px;</code><br>
<code>max-height: 100px;</code>
</p>
<p>
<code>margin: 5px;</code><br>
</p>
<p>
<code>padding: 5px;</code><br>
<code>padding: 0px 10px;</code><br>
<code>padding-left: 10px;</code>
</p>
<p>
<code>overflow-y: scroll;</code><br>
<code>word-wrap: break-word;</code>
</p>
<p>
<code>display: inline-block;</code><br>
<code>vertical-align: top;</code>
</p>
<p>
<code>cursor: pointer;</code>
</p>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference"
    target="flatchat_workshop">MDN CSS reference</a>

<h3><%= step %></h3>
<p>Change <code>body</code> and reload:
<pre>
&lt;body style="font-family: arial, sans-serif; background-color: #48d; color: #fff;"&gt;
  &lt;h1&gt;Flatchat&lt;/h1&gt;
  &lt;div style="background-color: #8d4; padding: 10px;"&gt;Rooms&lt;/div&gt;
  &lt;div style="background-color: #d48; padding: 10px;"&gt;Messages&lt;/div&gt;
&lt;/body&gt;
</pre>
