<%= back_link('2/2') %>
<small>2-3</small>
<%= forward_link('2/4', 'Responsive styling') %>

<h1>Style definitions</h1>

<h3><%= step %></h3>
<p>Styles can be defined and applied using selectors.</p>
<p>Common selectors:</p>
<ul>
  <li>Tag name - no prefix</li>
  <li>Class - '.' prefix</li>
  <li>ID - '#' prefix</li>
</ul></p>

<h3><%= step %></h3>
<p>Let's remove the in-line styling and use style definitions instead.</p>
<p>Add a <code>&lt;style&gt;&lt;/style&gt;</code> element:</p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
  &lt;meta charset="utf-8"/&gt;
  &lt;title&gt;Flatchat&lt;/title&gt;
&lt;/head&gt;

&lt;style&gt;
body {
  font-family: arial, sans-serif; }

#logo {
  font-size: 1.5em;
  color: #48d; }

#rooms_panel {
  background-color: #48d;
  color: #fff;
  padding: 10px;
  margin-top: 5px; }

#messages_panel {
  background-color: #48d;
  color: #fff;
  padding: 10px;
  margin-top: 5px; }
&lt;/style&gt;

&lt;body&gt;
  &lt;div id="logo"&gt;Flatchat&lt;/div&gt;
  &lt;div id="rooms_panel"&gt;Rooms&lt;/div&gt;
  &lt;div id="messages_panel"&gt;Messages&lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<p>Notice that the app title element has changed from an <code>h1</code> tag to <code>&lt;div id="logo"&gt;</code>. The title is now being styled by the <code>#logo</code> style definition.</p>
