<%= back_link('2/3') %>
<small>2-4</small>
<%= forward_link('2/5', 'CSS') %>

<h1>Responsive styling</h1>

<h3><%= step %></h3>
<p>Adjust browser width.</p>
<p>Add (append) to <code>style</code> element.</p>
<pre>
@media (max-width: 767px) {
  #rooms_panel {
    max-height: 100px;
    overflow-y: scroll;
  }
}
@media (min-width: 768px) {
  #rooms_panel {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
  #messages_panel {
    display: inline-block;
    vertical-align: top;
    width: 70%;
  }
}
</pre>
<p>Reload and adjust your browser width again.</p>
