<h1>Browser console</h1>

<h3>1</h3>
<p>Console executes Javascript.</p>
<p>Enter <code>alert("Hello World!");</code>.</p>

<h3>2</h3>
<p>Manipulate DOM.</p>
<p>Enter <code>document.getElementById("screen").style.backgroundColor = "white";</code>.</p>
<p>Enter <code>document.getElementById("screen").innerHTML = "&lt;h1&gt;New content!!!&lt;/h1&gt;";</code>.</p>

<h3>3</h3>
<p>Perform network actions.</p>
<p>Enter <code>location.reload();</code>.</p>

<h3>4</h3>
<p>Try jQuery.</p>
<p>Enter <code>$("#screen").css("background-color", "white");</code></p>
<p>Enter <code>$("#screen").html("&lt;h1&gt;New content!!!&lt;/h1&gt;");</code></p>

<%= link_to icon_text('Next: Network activity', 'fa-arrow-right'), workshop_path(page: '1/4'), class: 'btn btn-info pull-right' %>
