<%= back_link('1/3') %>
<small>1-4</small>
<%= forward_link('1/5', 'Text editor') %>

<h1>Network activity</h1>

<h3><%= step %></h3>
<p>Go to Network Monitor in the Inspector.</p>
<p>Reload the page and note the downloaded files.</p>

<h3><%= step %></h3>
<p>Enter:</p><pre>$.get("index.html");</pre>
<p>Enter:</p><pre>location = "http://abc.net.au";</pre>
