html body { padding: 15px 0px; margin-bottom: 200px;}
.flatchat_page { font-family: 'Arvo', serif; font-size: 16px; overflow-y: scroll; }
.flatchat_page ul { list-style-type: square; }
.flatchat_page .home_page { margin-top: 50px; }
.flatchat_page .home_page h2 { color: #5bc0de; text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }
.flatchat_page .devise_form { max-width: 300px; display: inline-block; }
.flatchat_page table th { padding-right: 10px; border-bottom: 1px solid #ccc; }
.flatchat_page table td { padding-right: 10px; }
.flatchat_page pre { max-height: 300px; background-color: #fff; color: #a04; }
.flatchat_page .tab-pane-content { padding: 10px; }
.flatchat_page #server_events { white-space: nowrap; overflow-x: scroll; padding: 10px; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 4px; }
.flatchat_page .alert { text-align: left; }
